{% extends "base.html" %}

{% block content %}
     <div class="row">
      <!--    <div class="text-center">
          <img class="img-fluid rounded rounded-5" src="images/banner.jpg">
        </div>
      </div> -->
      <h4 class="mt-3">Examen UF1 - M14</h3>
        <strong>Source: <a href="https://immunizationdata.who.int/listing.html?topic=&location=">🌍Portal immunizationdata la WHO🌍</a></strong>
      </p>
    </div>
{% endblock %}