{% extends "base.html" %}

{% block content %}

<div class="row">
    <h4>Serveis web de la nostra API.</h4>
    <p>Dataset extret del portal Inmunization Data, de la WHO (la OMS).</p>

    <strong>Source: <a href="https://immunizationdata.who.int/listing.html?topic=&location=">🌍Portal immunizationdata la WHO🌍</a></strong>

    <p>Extraccions fetes <strong>l'any 2022 i 2023.</strong></p>
    <p>Des de l'any 2022 cada enfermetat té el seu propi dataset i no estan juntes.</p>
  </div>

  {% endblock %}