{% extends "base.html" %}

{% block content %}
<div class="row">
  <p>Serveis web de la nostra API.</p>

  <h4 class="mt-3">GET First 10 record</h3>
    <a href="./observation" target="_blank">🌍./patient🌍</a>

    <h4 class="mt-3">GET records </h4>
    <a href="./observation/NAME/SPAIN/DISEASE/MEASLES" target="_blank">🌍./observation/NAME/SPAIN/DISEASE/MEASLES🌍</a>
</div>
{% endblock %}