{% extends "base.html" %}

{% block content %}
  <h3>Mapa demo</h3>
  <div id='chart' class='chart'></div>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script type='text/javascript'>
/*     var graphs = {{graphJSON|safe}}; */
    Plotly.plot('chart',graphs,{});
    </script>
{% endblock %}